@{
    ViewData["Title"] = "Add Category";
}

<head>
    <link rel="stylesheet" href="~/css/addCategory.css" />
</head>

<div class="container">
    <form class="form-container" name="addCategory">
        <label class="form-label">Category Name</label>
        <input class="input-form" type="text" id="category-name" />
        <label class="form-label">Category Description</label>
        <input class="input-form" type="text" id="category-desc" />
        <button type="submit" class="form-button" id="form-button">Create a Category</button>
    </form>
</div>